/* titillium-web-300 - latin */
@font-face {
	font-family: 'Titillium Web';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url('./assets/fonts/titillium-web/titillium-web-v8-latin-300.eot'); /* IE9 Compat Modes */
	src: local('Titillium Web Light'), local('TitilliumWeb-Light'),
		url('./assets/fonts/titillium-web/titillium-web-v8-latin-300.eot?#iefix')
			format('embedded-opentype'),
		/* IE6-IE8 */
			url('./assets/fonts/titillium-web/titillium-web-v8-latin-300.woff2')
			format('woff2'),
		/* Super Modern Browsers */
			url('./assets/fonts/titillium-web/titillium-web-v8-latin-300.woff')
			format('woff'),
		/* Modern Browsers */
			url('./assets/fonts/titillium-web/titillium-web-v8-latin-300.ttf')
			format('truetype'),
		/* Safari, Android, iOS */
			url('./assets/fonts/titillium-web/titillium-web-v8-latin-300.svg#TitilliumWeb')
			format('svg'); /* Legacy iOS */
}
/* titillium-web-regular - latin */
@font-face {
	font-family: 'Titillium Web';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('./assets/fonts/titillium-web/titillium-web-v8-latin-regular.eot'); /* IE9 Compat Modes */
	src: local('Titillium Web Regular'), local('TitilliumWeb-Regular'),
		url('./assets/fonts/titillium-web/titillium-web-v8-latin-regular.eot?#iefix')
			format('embedded-opentype'),
		/* IE6-IE8 */
			url('./assets/fonts/titillium-web/titillium-web-v8-latin-regular.woff2')
			format('woff2'),
		/* Super Modern Browsers */
			url('./assets/fonts/titillium-web/titillium-web-v8-latin-regular.woff')
			format('woff'),
		/* Modern Browsers */
			url('./assets/fonts/titillium-web/titillium-web-v8-latin-regular.ttf')
			format('truetype'),
		/* Safari, Android, iOS */
			url('./assets/fonts/titillium-web/titillium-web-v8-latin-regular.svg#TitilliumWeb')
			format('svg'); /* Legacy iOS */
}
/* titillium-web-600 - latin */
@font-face {
	font-family: 'Titillium Web';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url('./assets/fonts/titillium-web/titillium-web-v8-latin-600.eot'); /* IE9 Compat Modes */
	src: local('Titillium Web SemiBold'), local('TitilliumWeb-SemiBold'),
		url('./assets/fonts/titillium-web/titillium-web-v8-latin-600.eot?#iefix')
			format('embedded-opentype'),
		/* IE6-IE8 */
			url('./assets/fonts/titillium-web/titillium-web-v8-latin-600.woff2')
			format('woff2'),
		/* Super Modern Browsers */
			url('./assets/fonts/titillium-web/titillium-web-v8-latin-600.woff')
			format('woff'),
		/* Modern Browsers */
			url('./assets/fonts/titillium-web/titillium-web-v8-latin-600.ttf')
			format('truetype'),
		/* Safari, Android, iOS */
			url('./assets/fonts/titillium-web/titillium-web-v8-latin-600.svg#TitilliumWeb')
			format('svg'); /* Legacy iOS */
}
/* titillium-web-700 - latin */
@font-face {
	font-family: 'Titillium Web';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('./assets/fonts/titillium-web/titillium-web-v8-latin-700.eot'); /* IE9 Compat Modes */
	src: local('Titillium Web Bold'), local('TitilliumWeb-Bold'),
		url('./assets/fonts/titillium-web/titillium-web-v8-latin-700.eot?#iefix')
			format('embedded-opentype'),
		/* IE6-IE8 */
			url('./assets/fonts/titillium-web/titillium-web-v8-latin-700.woff2')
			format('woff2'),
		/* Super Modern Browsers */
			url('./assets/fonts/titillium-web/titillium-web-v8-latin-700.woff')
			format('woff'),
		/* Modern Browsers */
			url('./assets/fonts/titillium-web/titillium-web-v8-latin-700.ttf')
			format('truetype'),
		/* Safari, Android, iOS */
			url('./assets/fonts/titillium-web/titillium-web-v8-latin-700.svg#TitilliumWeb')
			format('svg'); /* Legacy iOS */
}

* {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-decoration: none;
	font-family: 'Titillium Web', sans-serif;
}

::-webkit-scrollbar {
	width: 8px;
	background-color: #dadada;
}

::-webkit-scrollbar-thumb {
	background-color: #393957;
	border-radius: 5px;
}

%flex-center {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

%flex-center-column {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

a {
	color: #000;
}

button {
	background-color: transparent;
	border: none;
}

input,
textarea {
	background: #f7f8f9;
	border: none;
}

.app-container {
	height: 100%;
}

.loading-component {
	@extend %flex-center;
	width: 100%;
	height: 100%;
	height: 100%;

	.loader {
		width: 40px;
		height: 40px;
		border: solid 4px;
		border-color: #000000 #00000010 #00000010 #00000010;
		position: relative;
		animation-name: stagger;
		animation-duration: 1.5s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
	}

	@keyframes stagger {
		25% {
			border-color: #00000010 #000000 #00000010 #00000010;
		}
		50% {
			border-color: #00000010 #00000010 #000000 #00000010;
		}
		75% {
			border-color: #00000010 #00000010 #00000010 #000000;
		}
	}
}

.modal-overlay {
	@extend %flex-center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	min-height: 100% !important;
	background-color: rgba(63, 63, 63, 0.199);
	z-index: 15;

	.modal {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 380px;
		min-height: 150px;
		padding: 10px 15px;
		background-color: #ffffff;
		border-radius: 5px;
		user-select: none;
	}

	.modal-content {
		h3 {
			font-weight: 600;
		}

		p {
			font-size: 0.9em;
			margin-bottom: 10px;
		}

		form {
			@extend %flex-center-column;

			input:nth-of-type(2) {
				margin: 10px 0;
			}

			textarea {
				height: 100px;
				resize: none;
			}

			input,
			textarea {
				width: 100%;
				min-width: 100%;
				padding: 4px 5px;
				border-radius: 2px;
				background-color: #ececec;
				box-sizing: border-box;
			}
		}
	}

	.modal-bottom {
		padding-top: 15px;
		padding-bottom: 5px;
		display: flex;
		justify-content: flex-end;

		button {
			text-transform: uppercase;
			cursor: pointer;
		}

		.cancel-button {
			background-color: transparent;
		}

		button:nth-of-type(2) {
			margin-left: 10px;
			background-color: #36dbd3;
			color: #fff;
			padding: 4px 15px;
			box-sizing: border-box;
			border-radius: 5px;
		}
	}
}

.modal-overlay {
	.search_modal {
		width: 500px;
		height: 600px;
		padding: 20px;
		box-sizing: border-box;

		h3 {
			text-align: center;
			margin-bottom: 20px;
			font-weight: 600;

			span {
				color: #22d1ee;
			}
		}

		.modal-content {
			overflow-y: scroll;
			user-select: text;
			height: 100%;

			.hit-item-container {
				margin-bottom: 10px;
				min-height: 100%;
				height: 100%;
				
				a {
					font-size: 0.9em;

					&:hover {
						text-decoration: underline;
					}
				}
			}

			.ais-Hits {
				padding: 0 25px;
				box-sizing: border-box;

				mark {
					background-color: #85f5ef;
				}
			}
		}
		
		.modal-bottom {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding-bottom: 0;
			padding-top: 20px;
		}
	}
}

.navbar-component {
	background-color: #393957;

	nav {
		display: flex;
		justify-content: space-between;
		height: 60px;
		padding: 8px 30px;
		max-width: 1400px;
		margin: 0 auto;

		.crypto_urls-logo-container {
			@extend %flex-center;

			a {
				display: flex;
				color: #fff;
			}

			.crypto_urls-logo {
				width: 210px;
			}
		}

		.hamburger-menu-container {
			@extend %flex-center;
			position: relative;
			cursor: pointer;

			img {
				width: 30px;
			}

			.desktop-menu {
				background-color: #fff;
				width: 250px;
				position: absolute;
				top: 60px;
				right: 0;
				z-index: 10;
				border-radius: 5px;
				box-shadow: 0 8px 10px 1px rgba(56, 56, 56, 0.12),
					0 3px 14px 2px rgba(56, 56, 56, 0.12),
					0 5px 5px -3px rgba(56, 56, 56, 0.12);
				padding: 15px;
				animation: fadein 0.3s ease-out;

				@keyframes fadein {
					from {
						top: 50px;
						opacity: 0;
					}

					to {
						top: 60px;
						opacity: 1;
					}
				}

				@keyframes fadeout {
					from {
						top: 60px;
						opacity: 1;
					}
					to {
						top: 50px;
						opacity: 0;
					}
				}

				> div {
					display: flex;
					align-items: center;
					padding: 8px 20px;
					box-sizing: border-box;
					border-radius: 5px;

					svg {
						margin-right: 10px;
					}

					&:hover {
						background-color: #f5f5f5;
						cursor: pointer;
					}
				}

				> div:nth-child(2) {
					margin: 10px 0;
				}
			}
		}
	}

	.ais-SearchBox-form {
		display: none !important;
	}	

	.search-component {
		width: 1400px;
		max-width: 95%;
		margin: 0 auto;
		padding-top: 5px;
		padding-bottom: 15px;
		position: relative;
		overflow: hidden;

		.search-input-container {
			@extend %flex-center;
			width: 100%;
			height: 100%;

			.search-input {
				z-index: 3;
				position: relative;
				width: 100%;
				padding: 6px 10px;
				color: #525252;
				font-size: 1em;
				font-weight: 400;
				letter-spacing: 2px;
				border: none;
				border-radius: 5px;
				outline: none;
				background-image: url('./assets/icons/search-outline.svg');
				background-size: 18px;
				background-repeat: no-repeat;
				background-position: 8px 10px;
				text-indent: 25px;

				&:focus {
					background-image: none;
					text-indent: 0px;
				}
			}
		}
	}
}

.home-component {
	@extend %flex-center-column;
	text-align: center;
	height: auto;
	overflow: visible;
	color: #40514e;
	margin-top: 30px;
	margin-bottom: 10px;
	box-sizing: border-box;

	.sites-container {
		height: auto;
		width: 100%;
		max-width: 1400px;
		box-sizing: border-box;
		text-align: left;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
		justify-items: center;
		justify-content: center;

		.publisher-block {
			max-width: 95%;
			width: 480px;
			border-radius: 10px;
			margin-bottom: 30px;

			&:hover {
				background-color: #f1f1f1d2;
			}
		}

		.publisher-header {
			height: 30px;
			padding: 10px 15px;
			border-radius: 5px;
			display: flex;
			align-items: center;
			font-weight: 600;
			color: #fff;
			background: linear-gradient(to bottom, #f1f1f1, #ededed);
			box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05),
				0 2px 2px -1px rgba(0, 0, 0, 0.2);

			img {
				margin-right: 10px;
				max-width: 50px;
				width: 30px;
			}
		}

		.publisher-header-cryptopotato {
			background: linear-gradient(to bottom, #fdd419, #ffbd00);
		}

		.publisher-header-coindesk {
			background: linear-gradient(to bottom, #172341, #161f36);
		}

		.publisher-header-newsbtc {
			background: linear-gradient(to bottom, #3d5466, #2e4251);
		}

		.publisher-header-eosio {
			background: linear-gradient(to bottom, #57579c, #283364);

			img {
				width: 20px;
			}
		}

		.publisher-header-bitcoindc, .publisher-header-cryptoglobe, .publisher-header-dailyhodl {
			background: linear-gradient(to bottom, #ffffff, #f8f8f88f);
			color: #393957;
		}

		.publisher-header-bitcoinist {
			background: linear-gradient(to bottom, #009AFE, rgb(3, 142, 235));
		}

		.publisher-header-ewn {
			background: linear-gradient(to bottom, #1e2425, #101314);
		}

		.publisher-header-swissborg {
			background: #01c38d;
		}

		.publisher-header-decrypt {
			background: linear-gradient(to bottom, #fff, #f5f5f5);
			color: #000;
		}

		.publisher-header-coinspeaker {
			background: linear-gradient(to bottom, #f7102b, #b3071b);

			img {
				border-radius: 4px;
			}
		}

		.publisher-header-ambcrypto {
			background: linear-gradient(to bottom, #fff, #f5f5f5);
			color: #000;

			img {
				width: 45px;
			}
		}

		.publisher-header-cryptonews {
			background: linear-gradient(to bottom, #796ed8, #bb3693);
			color: white;
		}

		.publisher-header-cryptobriefing {
			background: linear-gradient(to bottom, #fdcb41, #f1e25a);
		}

		.site-container {
			overflow-y: scroll;
			height: 400px;
			padding: 5px;
			box-sizing: border-box;
		}

		::-webkit-scrollbar {
			width: 0px;
			background: transparent;
			display: none !important;
		}

		.card-content-container {
			display: flex;
			flex-direction: column;

			article {
				display: flex;
				flex-direction: column;
				text-align: left;
			}

			a {
				font-weight: 300;
				font-size: 1rem;
				color: #0060a0;
				text-decoration: none;
				border-bottom: 1px solid rgba(0, 96, 160, 0.15);

				&:hover {
					color: #7d93f7;
				}
			}
		}
	}
}

.not-found-component {
	@extend %flex-center-column;
	height: 100%;
	background-color: #f7f8f9;
	color: #222222;
	font-size: 3rem;
	text-align: center;

	h1 {
		font-weight: 100;
	}

	h4 {
		font-weight: 600;
	}
}

@media (max-width: 950px) {
	.navbar-component {
		nav {
			padding: 8px 18px;
		}
	}
}

@media (max-width: 500px) {
	.home-component {
		.sites-container {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
	}
}
